.jumbotron {
  background-color: white;
  color: #30302c;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #30302c;
  color: #fff;
  margin-bottom: 0px;
}
/*Con esto ya no es necesario definir el ancho de columna ya que se lo estamos
definiendo con la propiedad flex*/
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
/*Hacer que el boton baje en su columna y ocupe todo su espacio*/
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.breadcrumb {
  padding-top: 60px;
}
.d-flex {
  padding-bottom: 20px;
}
.textoplano {
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.formulario {
  padding-bottom: 20px;
}
.tab-content {
  padding-top: 10px;
  padding-bottom: 12x;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tab-pane {
  padding-bottom: 10px;
}
