$yellow: #e8ce3c;
$black: #252523;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $bottom, $left, $right) {
    padding-bottom: $bottom;
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;

}
.jumbotron{
    background-color: white;
    color: $black;
    @include margenes(0,0);
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: $black;
    color: #fff;
    @include margenes(0,0 );
}
/*Con esto ya no es necesario definir el ancho de columna ya que se lo estamos
definiendo con la propiedad flex*/
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
/*Hacer que el boton baje en su columna y ocupe todo su espacio*/
/*Hacer que el boton baje en su columna y ocupe todo su espacio*/
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    @include padding(0,0 ,0 ,10px);
    
}

.breadcrumb{
    padding-top: 60px;
    @include padding(60px,10px ,15px ,10px )
}

.d-flex{
    @include padding(0,20px ,0 ,0 );
}

.textoplano{
    @include padding(0,20px ,60px ,60px );
}

.formulario{
    padding-bottom: 20px;
    @include padding(0,20px ,0 , 0);
}

.tab-content{
    @include padding(10px,12px ,0 ,0 );
}

.row{
    @include padding(10px, 10px, 0,0 );
}

.tab-pane{
    @include padding(0,10px ,0 ,0 );
}

