.jumbotron {
  background-color: white;
  color: #252523;
  margin-top: 0;
  margin-bottom: 0; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #252523;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0; }

/*Con esto ya no es necesario definir el ancho de columna ya que se lo estamos
definiendo con la propiedad flex*/
.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

/*Hacer que el boton baje en su columna y ocupe todo su espacio*/
/*Hacer que el boton baje en su columna y ocupe todo su espacio*/
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 0; }

.breadcrumb {
  padding-top: 60px;
  padding-bottom: 10px;
  padding-top: 60px;
  padding-right: 10px;
  padding-left: 15px; }

.d-flex {
  padding-bottom: 20px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0; }

.textoplano {
  padding-bottom: 20px;
  padding-top: 0;
  padding-right: 60px;
  padding-left: 60px; }

.formulario {
  padding-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0; }

.tab-content {
  padding-bottom: 12px;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0; }

.row {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0; }

.tab-pane {
  padding-bottom: 10px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0; }

/*# sourceMappingURL=styles.css.map */
